.service-container {
    max-width: 100%;
    height: auto;
    background: #EAF2FF;
}

.service-container .service-shape-wrapper>* {
    position: absolute;
    z-index: 0;
}

.service-container .service-shape-wrapper .circle-border {
    width: 62px;
    height: 62px;
    box-shadow: 0px 0px 0px 10px var(--secondary-color);
    border-radius: 50%;
    opacity: 0.5;
}

.service-container .service-shape-wrapper .circle.circle-border:first-child {
    left: 23%;
    top: 4%;
}

.service-container .service-shape-wrapper .circle.circle-border:nth-child(2) {
    left: 63%;
    top: 6%;
    width: 51px;
    height: 51px;
    box-shadow: 0px 0px 0px 10px var(--primary-color);
}

.service-container .service-shape-wrapper .circle.circle-border:nth-child(3) {
    left: 58.5%;
    bottom: 6%;
    width: 51px;
    height: 51px;
    box-shadow: 0px 0px 0px 10px var(--secondary-color);
}

.service-container .service-shape-wrapper .circle:nth-child(4) {
    bottom: 2%;
    left: 4%;
    transform: translateX(-50%);
    width: 98px;
    height: 98px;
    border-radius: 50%;
    display: inline-block;
    background: linear-gradient(4deg, #1D62C8 -2.64%, #80D4FF 77.87%);
    opacity: 0.5;
}

.service-container .service-shape-wrapper .circle:nth-child(5) {
    top: 15%;
    right: 3%;
    width: 71px;
    height: 71px;
    transform: translateX(-50%);
    border-radius: 50%;
    display: inline-block;
    background: linear-gradient(4deg, #1D62C8 -2.64%, #80D4FF 77.87%);
    opacity: 0.5;
}

.service-container .service-shape-wrapper .circle.plus:nth-child(6) {
    top: 20%;
    left: 6%;
}

.service-container .service-shape-wrapper .circle.plus:nth-child(7) {
    top: 20%;
    left: 39.5%;
    width: 26px;
    height: 26px;
}

.service-container .service-shape-wrapper .circle.plus:nth-child(8) {
    bottom: 7%;
    right: 18%;
    width: 26px;
    height: 26px;
}

.service-container .service-wrapper .title {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    color: #222;
    font-size: 2.5rem;
    font-weight: 700;
    display: inline-block;
    margin: 0 auto;
    overflow: hidden;
}

.service-container .service-wrapper .title::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
    width: 80%;
    height: 8px;
    background: linear-gradient(267deg, #1D62C8 41.87%, #80D4FF 111.9%);
}

.service-container .service-wrapper {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    padding: 20px 0 38px;
}

.service-container .service-wrapper .list-service {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 100px 0 0;
}

.service-container .service-wrapper .list-service .service-item {
    position: relative;
    z-index: 1;
    max-width: 375px;
    width: 100%;
    height: 244px;
    flex-shrink: 0;
    border-radius: 0px 30px;
    border: 1.5px dashed var(--primary-color);
    background: #FFF;
}

.service-container .service-wrapper .list-service .service-item .icon-wrapper {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 102px;
    height: 102px;
    border: 5px solid #fff;
    box-shadow: 0px 0px 0px 1px var(--linear-blue, #1D62C8);
    border-radius: 50%;
    background: linear-gradient(1deg, #1D62C8 -5.44%, #80D4FF 108.73%);
}

.service-container .service-wrapper .list-service .service-item .icon-wrapper .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.service-container .service-wrapper .list-service .service-item .service-info {
    padding: 60px 20px 40px;
}

.service-container .service-wrapper .list-service .service-item .service-info .service-name {
    color: #222;
    font-size: 1.375rem;
    font-weight: 600;
    text-align: center;
}

.service-container .service-wrapper .list-service .service-item .service-info .service-description {
    color: #142846;
    text-align: justify;
    font-size: 1.125rem;
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

@media (max-width: 700px) {
    .service-container {
        margin: 20px 0 0;
    }
}

@media (max-width:480px) {
    .service-container .service-shape-wrapper .circle.circle-border:first-child {
        left: 75%;
        top: 10%;
    }

    .service-container .service-shape-wrapper .circle.circle-border:nth-child(2) {
        left: 80%;
        top: 42%;
    }

    .service-container .service-shape-wrapper .circle.circle-border:nth-child(3) {
        left: 0%;
        bottom: 45%;
    }

    .service-container .service-shape-wrapper .circle:nth-child(4),
    .service-container .service-shape-wrapper .circle:nth-child(5) {
        display: none;
    }

    .service-container .service-shape-wrapper .circle.plus:nth-child(6) {
        top: 5%;
    }

    .service-container .service-shape-wrapper .circle.plus:nth-child(7) {
        left: 5%;
    }

    .service-container .service-shape-wrapper .circle.plus:nth-child(8) {
        right: 15%;
        bottom: 31%;
        width: 34px;
        height: 34px;
    }

    .service-container .service-wrapper .title {
        font-size: 2.188rem;
    }

    .service-container .service-wrapper .list-service {
        gap: 70px;
        padding: 100px 20px 0;
    }
}